/* 
 *Basic Layout Styles 
 */

html,
body,
#page  {
	height: 100%;
}
#page-wrapper {
	min-height: 100%;
	min-width: 960px;
}
#main,
#footer {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
#header {
	position: relative;
} 
#header div.section {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	overflow: hidden;
} 
#content {
	margin: 20px 0 0 0;
	padding: 0 10px;
} 

/* 
 *Basic Styles 
 */
html {
    font-size: 100.01%;
    height: 100%;
}
body {
    color: #333333;
	font: 0.625em Verdana,Arial,Geneva,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
#page {
    font-size: 1.3em;
    line-height: 1.62em;
}
a {
    color: #0071B3;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 1.846em;
  line-height:1.5em;
  padding-bottom:0.5em;
}
h2 {
  font-size:1.539em;
}
p {
    margin: 0.5em 0 0;
    padding: 0 0 0.5em;
}
/* ------------------ List Styles ------------------ */
ul, ol {
    margin: 0.5em 0;
    padding: 0 0 0 1.5em;
}

/* 
 * Navigation
 */
#header ul#nav {
	background: #0F67A1;
	float: left;
	padding: 0;
	margin: 0;
	padding: 0 8px 0 8px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#header ul#nav li {
	background: #0F67A1;
	float: left;
	list-style: none;
}
#header ul#nav li a {
    color: #EEEEEE;
    float: left;
    line-height: 34px;
    padding: 0 12px;
    position: relative;
    text-decoration: none;
}

.messages {
	border:2px solid #DDDDDD;
	margin-bottom:1em;
	padding:0.8em;
	margin: 20px 10px 0;
}
.messages ul {
  margin: 0.5em 0 0 0;
  padding: 0 0 0.5em 0;
  list-style: none;
}
.messages li {
	margin: 0;
	padding: 0 0 0 1.3em; /* LTR */
}
.error {
	background:none repeat scroll 0 0 #FBE3E4;
	border-color:#FBC2C4;
	color:#8A1F11;
}
.status {
	background:none repeat scroll 0 0 #E6EFC2;
	border-color:#C6D880;
	color:#264409;
}
