*{
	margin: 0; padding: 0;
	font-family: "Open Sans Condensed", Arial;
	color: #333;
}

a{
	color: #cc3333;
}

p, ul li{
	line-height: 1.5em;
	list-style-type: none;
}

p{
	padding: 5px 0;
}

h1{
	color: #333;
	font-size: 3em;
	padding: 10px 0;
}

h2{
	color: #444;
	font-size: 2em;
	padding: 10px 0;
	border-bottom: 1px dotted #CCC;
}

h3{
	color: #555;
	font-size: 1.5em;
	padding: 10px 0;
}

h4{
	color: #666;
	font-size: 1.2em;
	padding: 10px 0;
}

body{
	background: #FEFEFE;
}

#nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	padding: 20px 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;     
}

#nav ul li ul, #nav ul li ul li ul{
	padding: 0 0 0 10px;
}

#content{
	position: absolute;
	left: 300px;
	top: 0;
	width: calc(100% - 300px);
	padding: 20px 10px;
	overflow: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}