html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    background: #f9f9f9 url(img/bg.jpg) repeat;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', serif
}

.center {
    margin: 0 auto;
    background: #FFF
}

header#top {
    background: #FFF;
    padding: 20px 5px
}

#searchbar input {
    border: none;
    border-bottom: 1px solid #CCC;
    background: #f9f9f9 url(img/search.png) no-repeat 0 5px;
    padding: 7px 0 3px 20px;
    color: #666;
    font-style: italic;
    float: right
}

#searchbar input[type=submit] {
    display: none
}

.nav_container {
    background: #FFF;
    padding: 20px 5px 10px
}

#rss a {
    text-decoration: none
}

#rss span {
    color: #CC021A;
    font-size: 12px;
    display: block;
    margin: -14px 0 0 20px
}

#rss span:hover {
    text-decoration: underline
}

nav#menu ul {
    margin: 5px 0 0;
    height: 30px;
    text-align: right
}

nav#menu ul li {
    display: inline-block;
    vertical-align: top;
    border-top: 1px solid #CCC;
    width: 80px;
    height: 30px;
    text-align: left;
    margin: 0 0 0 10px
}

nav#menu ul li:hover {
    border-top: 3px solid #CC021A
}

nav#menu ul li.current-menu-item {
    border-top: 3px solid #CC021A
}

nav#menu ul li a {
    display: block;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    text-transform: lowercase;
    padding: 5px 0 0;
    color: #000
}

nav#menu ul li:hover a,
nav#menu ul li.current-menu-item a {
    color: #000
}

#zone-edito {
    background: #FFF;
    padding: 20px 5px 40px
}

.zone-1 {
    height: 400px
}

.zone-2 {
    height: 190px
}

.zone-3 {
    height: 200px
}

.zone-1 img {
    width: 100%;
    position: relative;
    z-index: 100;
    border: 1px solid #CCC
}

.zone-2 img {
    width: 100%;
    position: relative;
    z-index: 100;
    border: 1px solid #CCC
}

.zone-3 img {
    width: 100%;
    position: relative;
    z-index: 100;
    border: 1px solid #CCC
}

.edito-title {
    position: absolute;
    z-index: 200
}

.important {
    height: 405px;
    margin: -405px 0
}

.less-important {
    height: 203px;
    margin: -203px 0
}

.edito-title h2 a {
    background: #FFF;
    font-weight: 700;
    color: #c70e16;
    line-height: 24px;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    top: 0;
    text-decoration: none;
    margin: 20px 0
}

.edito-title h2 a:hover {
    text-decoration: underline
}

.zone-1 h2 a {
    width: 250px;
    margin: 2px 1px
}

.zone-2 h2 a {
    width: 350px;
    margin: 10px 1px
}

.zone-3 h2 a {
    width: 200px;
    margin: 0 1px
}

.edito-title h3 {
    padding: 5px;
    background: #FFF;
    position: absolute;
    bottom: 2px;
    font-weight: 700;
    color: #000;
    line-height: 16px;
    font-size: 12px
}

.zone-1 h3 {
    width: 350px;
    margin: 1px
}

.zone-2 h3 {
    width: 350px;
    margin: 1px
}

.zone-3 h3 {
    width: 200px;
    margin: 1px
}

.columns-container {
    background: #FFF;
    padding: 10px 5px 30px
}

.column-content {
    background: #FFF;
    padding: 0 0 10px
}

.column-content h5 a {
    color: #CC021A;
    display: block;
    font-weight: 700;
    line-height: 20px;
    font-size: 16px;
    padding: 0 0 5px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 5px;
    text-decoration: none
}

.column-element {
    padding: 10px 10px 20px 0
}

.column-element h3,
.column-element h3 a {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    font-weight: 700
}

.column-element p {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    line-height: 18px;
    color: #000
}

.column-element a {
    color: #c70e16;
    float: right;
    font-family: 'Open Sans', serif;
    font-size: 10px
}

.column-element img {
    width: 100%;
    height: auto
}

.container {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    background: #FFF;
    display: block;
    width: 100%
}

.page-container {
    padding: 20px 10px;
    margin: 0
}

.page-container img {
    float: left;
    padding: 10px 0
}

.page-content h2 {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 700;
    padding: 10px 0
}

.page-content ul {
    padding: 0 0 0 20px
}

.page-content ul li {
    line-height: 20px;
    list-style-type: circle;
    text-align: justify
}

.post-thumbnail img {
    width: 100%;
    height: auto
}

.container h2 a,
.container h2 {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    line-height: 20px;
    color: #000
}

.single-post {
    padding: 0 10px;
    margin: 12px 0 20px 5px
}

.single-post h1 a,
.single-post h1 {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    color: #000;
    padding: 10px 0;
    display: block;
    font-weight: 700
}

.single-post h2 a,
.single-post h2 {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    padding: 2px 0;
    display: block
}

.single-post h3 {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    color: #000;
    padding: 0 0 10px;
    display: block
}

#reply-title {
    font-size: 12px;
    font-weight: 700
}

.single-post p {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    padding: 0 0 10px;
    text-align: justify
}

.single-post a {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    color: #CC021A
}

.single-post img {
    max-width: 690px;
    display: block;
    max-height: 200px;
    margin: 10px 0
}

.single-post iframe {
    max-width: 690px;
    display: block;
    min-height: 400px;
    margin: 10px 0
}

.single-post ul {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    padding: 5px 0 10px 10px
}

.single-post ul li {
    padding: 5px 0;
    line-height: 16px
}

.sidebar h4 {
    font-size: 18px;
    font-family: 'Open Sans', serif;
    padding: 10px 0;
    font-weight: 700
}

.sidebar h5 {
    font-size: 12px;
    font-family: 'Open Sans', serif;
    color: #c70e16;
    font-style: italic;
    padding: 0 0 10px
}

.sidebar a {
    color: #000;
    display: block;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline
}

.sidebar a.reset {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    color: #CC021A;
    font-weight: 700;
    padding: 0 0 10px
}

.sidebar-inside {
    width: 90%;
    padding: 0 10px 20px 0
}

footer {
    background: #FFF;
    border-top: 1px dotted #CCC;
    padding: 30px 0
}

.f-column ul li a,
.f-column a,
.f-column p {
    font-family: 'Open Sans', serif;
    color: #999;
    font-size: 12px
}

#f-menu {
    text-align: center
}

.figure {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    line-height: 16px;
    color: #000;
    text-align: justify
}

strong {
    font-weight: 700
}

ul.qtrans_language_chooser {
    padding: 10px 0
}

ul.qtrans_language_chooser li {
    display: inline
}

ul.qtrans_language_chooser li a {
    text-decoration: none;
    font-style: normal
}

ul.qtrans_language_chooser li a span {
    font-size: 1px;
    color: #FFF
}

#vimeoplayer_subtitles {
    text-align: center
}

@media (max-width:768px) {
    .edito-title h2 a {
        background: #FFF;
        font-weight: 700;
        color: #c70e16;
        line-height: 20px;
        font-size: 16px;
        padding: 5px;
        position: absolute;
        top: 0;
        text-decoration: none;
        margin: 20px 0
    }
    .edito-title h2 a:hover {
        text-decoration: underline
    }
    .zone-1 h2 a {
        width: 250px
    }
    .zone-2 h2 a {
        width: 350px
    }
    .zone-3 h2 a {
        width: 150px
    }
    .edito-title h3 {
        padding: 5px;
        background: #FFF;
        position: absolute;
        bottom: 0;
        font-weight: 700;
        color: #000;
        line-height: 16px;
        font-size: 12px
    }
    .zone-1 h3 {
        width: 350px
    }
    .zone-2 h3 {
        width: 350px
    }
    .zone-3 h3 {
        width: 150px
    }
    footer img {
        width: 100%
    }
}

@media (max-width:320px) {
    #searchbar input {
        border: none;
        border-bottom: 1px solid #CCC;
        background: #f4f4f4 url(img/search.png) no-repeat 0 5px;
        padding: 7px 0 3px 20px;
        color: #CCC;
        font-style: italic;
        float: left
    }
    nav {
        height: 130px
    }
    nav#menu ul {
        margin: 5px 0 0;
        height: 30px;
        text-align: left
    }
    nav#menu ul li {
        display: inline-block;
        vertical-align: top;
        border-top: 1px solid #CCC;
        width: 80px;
        height: 50px;
        text-align: left;
        margin: 0 0 0 10px
    }
    nav#menu ul li:hover {
        border-top: 3px solid #CC021A
    }
    nav#menu ul li.current-menu-item {
        border-top: 3px solid #CC021A
    }
    nav#menu ul li a {
        font-style: normal;
        font-size: 12px;
        text-decoration: none;
        text-transform: lowercase;
        color: #000
    }
    nav#menu ul li:hover a,
    nav#menu ul li.current-menu-item a {
        color: #000
    }
    .single-post img {
        padding-bottom: 10px
    }
    .f-column {
        padding: 10px 0
    }
    .f-column img {
        width: 50%
    }
}

body {
    width: 100%;
    *zoom: 1
}

body:before,
body:after {
    content: "";
    display: table
}

body:after {
    clear: both
}

body {
    margin: 0;
    padding: 0;
    background: #fff
}

div.center {
    width: 960px
}

header#top {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%
}

#logo {
    display: inline;
    float: left;
    width: 65.625%;
    margin: 0 .52083333%
}

#searchbar {
    display: inline;
    float: left;
    width: 32.29166667%;
    margin: 0 .52083333%
}

.nav_container {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%
}

nav#menu {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%
}

#zone-edito {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%
}

.zone-1 {
    display: inline;
    float: left;
    width: 48.95833333%;
    margin: 0 .52083333%
}

.zone-2 {
    display: inline;
    float: left;
    width: 48.95833333%;
    margin: 0 .52083333%;
    margin-bottom: 10px
}

.zone-3 {
    display: inline;
    float: left;
    width: 23.95833333%;
    margin: 0 .52083333%
}

.columns-container {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%
}

.column-content {
    display: inline;
    float: left;
    width: 23.95833333%;
    margin: 0 .52083333%
}

.container {
    float: left;
    width: 100%;
    margin: 0 3px
}

#content {
    display: inline;
    float: left;
    width: 73.95833333%;
    margin: 0 .52083333%;
    margin-left: 14.5px
}

.column_display {
    float: left;
    width: 220px
}

.single-post {
    float: left;
    width: 690px;
    margin: 12px 0 20px 5px
}

.nothing {
    display: inline;
    float: left;
    width: 98.95833333%;
    margin: 0 .52083333%
}

.sidebar {
    display: inline;
    float: left;
    width: 23.95833333%;
    margin: 0 .52083333%;
    float: right;
    margin-left: 5px;
    max-width: 170px
}

.sidebar a.facet {
    color: #757575;
    text-decoration: none;
    -webkit-transition: padding .2s ease-in-out;
    -moz-transition: padding .2s ease-in-out;
    -ms-transition: padding .2s ease-in-out;
    -o-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out
}

.sidebar a.facet.active_facet {
    color: #000;
    padding: 0 0 0 15px
}

.sidebar a.active-p,
.sidebar a.retired-p {
    color: #757575;
    text-decoration: none;
    -webkit-transition: padding .2s ease-in-out;
    -moz-transition: padding .2s ease-in-out;
    -ms-transition: padding .2s ease-in-out;
    -o-transition: padding .2s ease-in-out;
    transition: padding .2s ease-in-out
}

.sidebar a.active-p.active-p-enabled,
.sidebar a.retired-p.active-p-enabled {
    color: #000;
    padding: 0 0 0 15px
}

.sidebar h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px
}

.sidebar h5 {
    color: #757575;
    border-bottom: 1px solid #757575;
    margin-bottom: 10px;
    padding-bottom: 15px
}

footer {
    float: left;
    width: 100%;
    margin: 0 3px
}

.f-column {
    display: inline;
    float: left;
    width: 23.95833333%;
    margin: 0 .52083333%
}

@media (max-width:768px) {
    div.center {
        width: 768px
    }
    header#top {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    #logo {
        display: inline;
        float: left;
        width: 73.95833333%;
        margin: 0 .52083333%
    }
    #searchbar {
        display: inline;
        float: left;
        width: 23.95833333%;
        margin: 0 .52083333%
    }
    .nav_container {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    nav#menu {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    #zone-edito {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .zone-1 {
        display: inline;
        float: left;
        width: 48.95833333%;
        margin: 0 .52083333%
    }
    .zone-2 {
        display: inline;
        float: left;
        width: 48.95833333%;
        margin: 0 .52083333%;
        margin-bottom: 10px
    }
    .zone-3 {
        display: inline;
        float: left;
        width: 23.95833333%;
        margin: 0 .52083333%
    }
    .columns-container {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .column-content {
        display: inline;
        float: left;
        width: 23.95833333%;
        margin: 0 .52083333%
    }
    .container {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    #content {
        display: inline;
        float: left;
        width: 73.95833333%;
        margin: 0 .52083333%
    }
    .column_display {
        display: inline;
        float: left;
        width: 32.29166667%;
        margin: 0 .52083333%
    }
    .single-post {
        display: inline;
        float: left;
        width: 73.95833333%;
        margin: 0 .52083333%;
        margin: 12px 0 20px 5px
    }
    .nothing {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .sidebar {
        display: inline;
        float: left;
        width: 23.95833333%;
        margin: 0 .52083333%
    }
    footer {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .f-column {
        display: inline;
        float: left;
        width: 23.95833333%;
        margin: 0 .52083333%
    }
}

@media (max-width:320px) {
    div.center {
        width: 320px
    }
    header#top {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    #logo {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    #searchbar {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .nav_container {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    nav#menu {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    #zone-edito {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .zone-1 {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .zone-2 {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%;
        margin-bottom: 10px
    }
    .zone-3 {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .columns-container {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .column-content {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .container {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    #content {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .column_display {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .single-post {
        display: inline;
        float: left;
        width: 73.95833333%;
        margin: 0 .52083333%;
        margin: 12px 0 20px 5px
    }
    .nothing {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .sidebar {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    footer {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
    .f-column {
        display: inline;
        float: left;
        width: 98.95833333%;
        margin: 0 .52083333%
    }
}

header#top {
    border-bottom: 1px solid rgba(204, 2, 26, .15);
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    clear: both
}

header#top #logo {
    display: inline;
    float: left;
    width: 57.29166667%;
    margin: 0 .52083333%;
    margin: 0
}

header#top #logo a {
    margin: 0;
    padding: 20px 15px;
    display: block
}

.nav_container {
    border-bottom: 1px solid #cc021a;
    padding: 0;
    margin: 0;
    width: 100%;
    clear: both;
    display: block
}

nav#menu ul#menu-main-menu {
    height: 50px;
    margin: 0;
    padding: 0
}

nav#menu ul#menu-main-menu #menu-item-1380,
nav#menu ul#menu-main-menu #menu-item-156 {
    margin-left: 80px
}

nav#menu ul#menu-main-menu li {
    display: block;
    border-top: 1px solid transparent;
    text-align: center;
    width: auto;
    height: 20px;
    float: left;
    margin: -1px 20px 0 20px;
    padding: 15px 0 0
}

nav#menu ul#menu-main-menu li:first-child {
    margin-left: 12px
}

nav#menu ul#menu-main-menu li a,
nav#menu ul#menu-main-menu li a:visited {
    color: #000;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    height: 20px
}

nav#menu ul#menu-main-menu li:hover a {
    color: #cc021a
}

nav#menu ul#menu-main-menu li.current-menu-item {
    border-top: 1px solid #c70e16
}

nav#menu ul#menu-main-menu li.current-menu-item a,
nav#menu ul#menu-main-menu li.current-menu-item a:visited {
    color: #cc021a
}

ul.qtrans_language_chooser {
    padding: 0;
    height: 83px;
    margin-left: 94px;
    width: 312px
}

ul.qtrans_language_chooser li {
    height: 83px;
    vertical-align: baseline;
    display: block;
    float: left
}

ul.qtrans_language_chooser li.active a span {
    color: #cc021a
}

ul.qtrans_language_chooser li .qtrans_flag_and_text {
    display: block;
    position: relative;
    top: 32px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    margin: 0 12px 0 0
}

ul.qtrans_language_chooser li .qtrans_flag_and_text.qtrans_flag_en,
ul.qtrans_language_chooser li .qtrans_flag_and_text.qtrans_flag_fr {
    background: 0 0;
    padding: 0
}

ul.qtrans_language_chooser li .qtrans_flag_and_text span {
    color: #000;
    font-size: 11px
}

#searchbar {
    display: inline;
    float: left;
    width: 40.625%;
    margin: 0 .52083333%
}

#searchbar input {
    background: 0 0;
    margin-top: 29px;
    font-style: normal;
    font-size: 10px;
    padding: 5px 0 6px
}

.container {
    margin: 12px 0
}

.container p {
    font-family: 'Open Sans', serif;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    text-align: justify;
    margin: 10px 0
}

.container #pin_like_searched .column_display {
    min-height: 300px
}

.container #pin_like_searched .column_display img {
    max-height: 180px;
    max-width: 200px
}

.container #pin_like_searched .tools,
.container #pin_like_searched .projets {
    min-height: 270px
}

.container .people {
    margin: 0 21.5px 10px 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 0
}

.container .tools {
    height: 300px;
    margin: 0 21.5px 10px 0;
    border-bottom: 1px solid #d4d4d4
}

.container .column_display {
    padding: 0;
    margin: 0 15px 10px 0;
    width: 215px
}

.container .column_display p {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    line-height: 18px;
    color: #000;
    text-align: justify
}

.container .column_display h2 {
    margin: 12px 0;
    font-size: 20px;
    line-height: 22px
}

.container .column_display h2 a {
    text-decoration: none;
    font-weight: 400
}

.container .column_display h2 a:hover {
    color: #CC021A
}

.container .projets {
    margin: 0 21.5px 10px 0;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 0;
    min-height: 270px
}

.container .projets img {
    max-height: 140px
}

.container .publications {
    margin: 0 0 10px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 14px
}

.container .publications h3 {
    margin: 0
}

.container .publications h3 a {
    color: #757575;
    text-decoration: none;
    display: inline-block
}

.container .publications .img_publi {
    margin-top: 15px
}

.container .blog {
    margin: 0 15px 10px 5px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 14px
}

.container .publications img {
    height: 190px;
    width: 310px
}

.container #content_left {
    float: left;
    width: 320px
}

.container #content_right {
    float: right;
    width: 320px;
    padding-left: 0
}

.container #content_right p {
    width: 300px
}

.container #content_right h2 {
    width: 300px
}

.container p a {
    color: #000
}

.tools {
    height: 270px
}

.tools img {
    max-width: 100%
}

#manifesto {
    width: 100%;
    margin: 0;
    padding: 0;
/*    border-bottom: 1px solid #cc021a; */
    padding-bottom: 20px;
    margin-bottom: 10px
}

#manifesto h2 {
    background: #cc021a;
    line-height: 25px;
    font-size: 16px;
    padding: 8px 15px;
    margin: 15px 10px 2px;
    font-weight: 400
}

#manifesto h2 a,
#manifesto h2 a.visited {
    color: #fff;
    text-decoration: none
}

#manifesto .content {
    margin: 0 10px
}

#manifesto h3 {
    background: #ebebeb;
    line-height: 16px;
    font-size: 11px;
    padding: 8px;
    margin: 0 10px;
    width: auto
}

#manifesto .zone-1 img,
#manifesto .zone-2 img,
#manifesto .zone-3 img {
    border: 0 solid transparent
}

#manifesto .zone-1 {
    height: auto;
    padding: 0
}

#manifesto .zone-1 h2,
#manifesto .zone-1 h3,
#manifesto .zone-1 .content {
    margin-right: 4px
}

#manifesto .zone-2 {
    height: auto;
    padding: 0
}

#manifesto .zone-2 h2,
#manifesto .zone-2 h3,
#manifesto .zone-2 .content {
    margin-left: 4px
}

#manifesto .zone-2 h2 {
    font-size: 14px
}

#manifesto .zone-3 {
    height: auto;
    padding: 0
}

#manifesto .zone-3 h2,
#manifesto .zone-3 h3,
#manifesto .zone-3 .content {
    margin-left: 5px
}

#manifesto .zone-3 h2 {
    margin-top: 8px;
    font-size: 12px;
    line-height: 20px
}

#manifesto .zone-3:nth-child(3) h2,
#manifesto .zone-3:nth-child(3) h3,
#manifesto .zone-3:nth-child(3) .content {
    margin-right: 3px
}

#manifesto .zone-3:nth-child(4) h2,
#manifesto .zone-3:nth-child(4) h3,
#manifesto .zone-3:nth-child(4) .content {
    margin-left: 4px
}

.column-content {
    padding: 0
}

.column-content h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background: #383838;
    border-bottom: 0 solid transparent;
    padding: 5px 10px
}

.column-content h2 a {
    color: #fff;
    text-decoration: none
}

.column-content .column-element {
    background: #ebebeb;
    margin: 10px 0;
    padding: 10px
}

.column-content .column-element a {
    text-align: left;
    float: none;
    font-size: 12px;
    line-height: 16px;
    display: block;
    color: #000;
    text-decoration: none
}

.column-content .column-element:hover {
    background: #d2d2d2
}

.column-content .column-element h3,
.column-content .column-element h3 a {
    font-size: 15px;
    font-weight: 400;
    margin: 8px 0 5px
}

.columns-container {
    padding: 10px;
    margin: 0;
    width: 940px
}

.clear {
    clear: both
}

footer {
    margin: 0;
    padding: 0;
    padding-top: 4px
}

footer .allungato {
    border-top: 1px solid rgba(204, 2, 26, .1);
    padding: 10px 0
}

footer .allungato ul li {
    display: block;
    float: left;
    margin-left: 65px;
    width: 25%;
    text-align: center
}

footer .allungato ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-size: 11px
}

footer .allungato .f-column {
    width: 100%;
    margin: 0
}

#warning {
    padding-bottom: 19px;
    padding-left: 15px;
    font-style: italic
}

.facet.active_facet.do-not-enlighten {
    padding: 0;
    background-color: transparent
}

/**
 * Modifs Amélie Robin 22 Mars 2018
 */
/*
.hero-card{
  position: relative;
  height: 10rem;
  margin-top:  1rem;
  margin-bottom: .5rem;
}

.hero-card .background-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background : black;
}

.hero-card .background-container img{
  width: 100%;
  height: unset;
}

.hero-card .background-container a{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero-card .background-container a:after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  transition: all .5s ease;
  content : "";
  pointer-events: none;
}

.hero-card .background-container a:hover:after{
  background: rgba(0,0,0,0.5);
}

.hero-card .background-container iframe{
  width: 100%;
  height: 100%;
}

.hero-card .content-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  pointer-events: none;
}

.hero-card .content-container h2{
  max-width: 70%;
  pointer-events: all;
  background: rgba(0,0,0, 0.7)!important;
  margin-top: 0!important;
}

.hero-card .content-container h3{
  background: rgba(0,0,0, 0.4)!important;
  color: white;
}*/

/**
 * Fin modifs Amélie Robin 22 Mars 2018
 */

/**
 * Modifs Amélie Robin 9 Avril 2018
 */
#manifesto a:not(.inherit-style),
#manifesto a:not(.inherit-style):visited,
#manifesto a:not(.inherit-style):active
{
    color: #cc021a;
}

.row {
    width: 100%;
}

.columns{
    display: flex;
    flex-flow: row nowrap;
}

.row-main-title{
    margin: 1.5rem!important;
    margin-left: 0!important;
    background: transparent!important;
    padding: 0!important;
    /*font-size: 2rem!important;*/
    padding-bottom: 10px!important;
    border-bottom: 1px solid lightgrey;
    font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 21px!important;
    font-weight: 300!important;
    line-height: 24px;
    color: #292F33;
    margin-right: 0!important;
    padding-right: 0!important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: stretch;
}

.row-main-title .title-text{
    flex: 1;
}

.row-main-title a{
    font-size: .7rem;
}

.herow{
    height: 50vh;
}

#news-container{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.labo-life{
    background: #cc021a!important;
    color: white;
    margin: 0!important;
}

.labo-life a,
.labo-life a:visited,
.labo-life a:active{
    color: inherit;
    text-decoration: none;
}

#news-container #list-container{

    width: 30%;
    overflow: auto;
    max-height: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    justify-content: stretch;
}

#news-container #hero-news{
    width: 70%;
    height: 100%;
}

#news-container #hero-news
{
    display: inline-block;
    float: left;
}

#news-container #list-container .labo-life{
}

#news-container #list-container .news-card{
    padding: .5rem;
    transition: all .5s ease;
    border-bottom: 1px solid lightgrey;
    flex: 1;
    display : flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#news-container #list-container .news-card:first-of-type{

    border-top: 1px solid lightgrey;
}

#news-container #list-container .news-card h2,
#news-container #list-container .news-card h3,
#news-container #list-container .news-card a
{
    background: transparent;
    color: black;
    margin: 0;
    padding: 0;
}

#news-container #list-container .news-card h2{
    font-size: .8rem;
    line-height: 1rem;
}
#news-container #list-container .news-card h3{
    font-size: .5rem;
    text-transform: uppercase;
}

#news-container #list-container .news-card a{
    line-height: unset;
}

#news-container #list-container .news-card:hover,
#news-container #list-container .news-card.active{
    /*background: #ebebeb;*/
    background: #cc021a;
}


#news-container #list-container .news-card:hover a,
#news-container #list-container .news-card:hover h2,
#news-container #list-container .news-card:hover h3,
#news-container #list-container .news-card.active a,
#news-container #list-container .news-card.active h2,
#news-container #list-container .news-card.active h3
{
    color: white;
}

#news-container #hero-news{
  position: relative;
}

#news-container #hero-news .background-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background : black;
}

#news-container #hero-news .background-container img{
  height: unset;
  width: unset;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

#news-container #hero-news .background-container a{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#news-container #hero-news .background-container a:after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  transition: all .5s ease;
  content : "";
  pointer-events: none;
}

#news-container #hero-news .background-container a:hover:after{
  background: rgba(0,0,0,0.5);
}

#news-container #hero-news .background-container iframe{
  width: 100%;
  height: 100%;
}

#news-container #hero-news .content-container{
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 50%;
  min-height: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  /*justify-content: center;*/
  pointer-events: none;
  background: #cc021a;
  padding: 1rem;
}

#news-container #hero-news .content-container h2{
  pointer-events: all;
  /*background: rgba(0,0,0, 0.7)!important;*/
  margin: 0;
  font-size: 1.3rem;
  margin-left: .5rem;
  padding-top: 0;
  color: white;
  /*margin-bottom: .3rem;*/
}

#news-container #hero-news .content-container h3{
  background: transparent!important;
  color: white;
  margin: 0;
  margin-left: 1rem;
  text-transform: uppercase;
  /*margin-bottom: .3rem;*/
}


#news-container #hero-news .content-container .excerpt{
  /*background: rgba(0,0,0, 0.7)!important;*/
    color: white;
    font-size: .8rem;
    line-height: 1.2rem;
    margin: .5rem;
    padding: 1rem;
    padding-top: 0;
    font-style: italic;
    padding-bottom: 0;
    /*margin-top: 0;*/
}


#news-container #list-container .hide-in-list-mode{
    display: none;
}


#projects-wrapper-wrapper,
#twitter-container{
    display: inline-block;
    float: left;
}


#projects-wrapper-wrapper{
    width: 70%;
}

#projects-wrapper-wrapper .row-main-title{
    margin-right: 2rem!important;
}

#projects-wrapper{
    height: 20rem;
    padding-right: 1.5rem;
}

#projects-wrapper #projects-container{
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
}

#projects-wrapper #projects-container .project-container{
    width: 50%;
    display: inline-block;
    float: left;
    height: 12rem;
    margin: 0;
}

/*#projects-wrapper #projects-container .project-container:first-of-type{
    margin-left: 0;
}*/

.project-container h3{
    background: transparent;
}


.project-container .title{
    margin: 0;
    background: #cc021a;
    color: white!important;
    padding: .5rem;
    margin-left: 0!important;
}

.project-container .subtitle,
.project-container .excerpt,
.project-container .more{
    margin-left: 1rem;
    /*margin-left :0;*/
    padding-left: 0;
    margin-bottom: .1rem;
}


.project-container .subtitle{
    font-weight: 700;
    font-size: .8rem;
    background: inherit!important;
}

.project-container .excerpt{
    font-size: .7rem;
    line-height: 1rem;
}

.project-container .more{
    font-size: italic;
    text-align: right;
    font-size: .7rem;
}


.project-container .title,
.project-container .subtitle,
.project-container .excerpt,
.project-container .more
{
    margin-right: 2rem;
}

#twitter-container{
    width: 30%;
    margin-top: 1rem;
    display: flex;
    height: 30rem;
    flex-flow: column nowrap;
    justify-content: stretch;
    overflow: auto;
    /*overflow: hidden;*/
}

#twitter-wrapper{

    height: 100%;
}

.nav_container{
    border-bottom: none;
}

#menu-main-menu{
    font-family: 'Inconsolata';
}

#menu-main-menu li a{
    text-transform: uppercase!important;
}

.inherit-style {
    font-size: inherit;
    color: inherit!important;
}

/**
 * Fin modifs Amélie Robin 9 Avril 2018
 */